<div class="col-md-12 header">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <img src="assets/etic/logo-etic1.png" class="headerLogo" />
                    <script src="jTools/imports/angular.min.js"></script>
                    <script src="jTools/imports/angular-ui-router.min.js"></script>
                    <script src="jTools/eticToolbox/toolboxMainModule.js"></script>
                    <script src="jTools/eticToolbox/services/apiRelay.js"></script>
            </div>
        </div>
     <div class="topnav" id="myTopnav">
      <a href="#home">Home</a>
      <a href="#formations">formations</a>
      <a href="#profil">Profil</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    </div>
</div>
