<div class="col-md-2">
    <img class="img-circle" width="180px" height="180px" src="assets/profile/{{userInformationsCtrl.user.image}}"/>
</div>
<div class="col-md-10">
    <div class="row">
        <br/>
        <br/>
        <div class="col-md-5">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="user icon"></i> </span>
                <input type="text" class="form-control" placeholder="{{userInformationsCtrl.user.firstName}}" disabled>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="user icon"></i></span>
                <input type="text" class="form-control" placeholder="{{userInformationsCtrl.user.name}}" disabled>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon"><i class="at icon"></i></span>
                <input type="text" class="form-control" placeholder="{{userInformationsCtrl.user.email}}" disabled>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="input-group">
                <span class="input-group-addon"><i class="users icon"></i></span>
                <input type="text" class="form-control" placeholder="{{userInformationsCtrl.user.groupe}}" disabled>
            </div>
        </div>
    </div>
</div>