<div class="col-md-12">
	<h1>SHARETIC</h1>
	<h2>Best MOOC for the best Junior Compagny</h2>

	<P>
		Bienvenue sur la meilleure platforme de formation de l'univers
	</P>

	<p>
		Dans cette platforme vous apprendez à être de gentil petit escl...ETicien ayant les connaissances requises à l'élaboration de projet plus ou moins complexe. (plus quand même hein!)
	</p>


	<p>
		Mais n'ayait crainte seule les plus dévouer des eticiens arriverons à completer leurs formations. Brandissant toutes les épreuves ils seront à jamais parmis les braves dans le vahala.
	</p>

	<p>
		Cette platforme a pour seul et unique but de mettre en commun de manière fiable l'ensemble des connaisances des Eticiens.
	</p>

	<blockquote class="blockquote-reverse">
		<p>"Le partage est un devoir."</p>
		<footer>Louis XIV</footer>
	</blockquote>
</div>