<div class="col-md-12">
	<h1>
		SHARETIC 

	</h1>
	<div>
	Bienvenue sur la meilleure platforme de formation de l'univers </div>

	<div>Dans cette platforme vous apprendez à être de gentil petit escl...ETicien ayant les connaissances requises à l'élaboration de projet plus ou moins complexe. (plus quand même hein!)</div>


	<div>Mais n'ayait crainte seule les plus dévouer des eticiens arriverons à completer leurs formations. Brandissant toutes les épreuves ils seront à jamais parmis les braves dans le vahala.</div>
	<div>Cette platforme a pour seul et unique but de mettre en commun de manière fiable l'ensemble des connaisances des Eticiens.</div>
	
	<div>"Le partage est un devoir." by Louis XIV</div>

	<a ui-sref="formations">Aller à la vue "formations"</a>
<br></br>
	<a ui-sref="profil">Aller à la vue "profil"</a>
</div>